body {
   font-family: 'Open Sans', sans-serif; 
}
h1 {
    text-align: center;
    font-size: 1.8rem;
    color: lightgrey;
    margin-bottom: 0;
    width: 100%;
    
}
.logo-pantone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 0rem
}
.container {
    margin-left: 15rem;
    margin-right: 10rem;
    text-align: justify;
}

.cyan {
    background-color: cyan;
}
.magenta {
    background-color: magenta;
}
.jaune {
    background-color: yellow;
}
.noir {
    color: white;
    background-color: black;
}
h3 {
    text-align: center;
}
.blue {
    background-color: blue;
    color: white;
}
.coral {
    background-color: lightcoral;
    color: white;
}
.gray {
    background: rgb(255,226,0);
    background: linear-gradient(90deg, rgba(255,226,0,1) 50%, rgba(113,113,113,1) 50%);
    color: white;
    
}
.peri {
    background-color: purple;
    color: white;
}
.violet {
    background-color: plum;
    color: white;
}